@using Model.EF;
@model  List<Model.EF.GIOHANG>

@{
    ViewBag.Title = "CartAll";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


@if (Model.Count > 0)
{
    <div class="tb_sm">
        <h2 style="text-align: center; padding: 10px 0; color: red;">Giỏ hàng của bạn</h2>
        <div class="card">
            <table class="table">
                <tr>
                    <th>Mã SP</th>
                    <th>Tên SP</th>
                    <th>Ảnh SP</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                    <th colspan="2">@Html.ActionLink("DELETE ALL", "DeleteCart_All")</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="12%" class="td_pding">@item.MASP</td>
                        <td width="26%" class="td_pding">@item.SANPHAM.TENSANPHAM</td>
                        <td width="22%" style="padding: 5px 0;">
                            <img src="~/Assets/client/images/anh/@item.SANPHAM.HINHANH" width="80%" class="img-fluid" />
                        </td>
                        @using (Html.BeginForm("UpdateCart", "Cart", new { @MaSP = @item.MASP }))
                        {
                            <td width="10%" class="td_pding">
                                <input class="ip_quantity" type="number" name="txtSoLuongSP" min="1" value="@item.SOLUONGSP.Value" />
                            </td>
                            <td width="12%" class="td_pding">@item.SANPHAM.GIATRI.GetValueOrDefault(0).ToString("#,##").Replace(',', '.')</td>
                            <td width="16%" class="td_pding">@((item.SANPHAM.GIATRI.GetValueOrDefault(0) * item.SOLUONGSP.Value).ToString("#,##").Replace(',', '.'))</td>
                            <td width="8%" class="td_pding"><a href="@Url.Action("Detail", "Product", new { @MaSP = @item.MASP })">Details</a></td>
                            <td width="8%" class="td_pding">@Html.ActionLink("Delete", "DeleteCart", new { @MaSP = @item.MASP })</td>
                            <td width="8%" style="padding-top: 24px;">
                                <input type="submit" value="Update" class="btn btn-primary" />
                            </td>
                        }
                    </tr>
                }
                <tr style="font-weight: bold;">
                    <td colspan="3" style="color: blue; text-align: right">Tổng cộng:</td>
                    <td style="color: red;">@ViewBag.SumQuantity
                    <td>
                    <td style="text-align: right" colspan="2">Tổng tiền:</td>
                    <td style="text-align: right; color: blue" colspan="3"><span style="color: red;">@ViewBag.SumAmount.ToString("#,##").Replace(',', '.')</span> VNĐ</td>
                </tr>
            </table>


        </div>
        <div class="col-4 btn-deatil-tt">
            <a href="/"> <input type="submit" class="btn btn-success" value="Tiếp tục mua hàng" /></a>
            <a href="/thanh-toan"> <input type="submit" class="btn btn-primary" value="Thanh toán" style="float:right;" /></a>
        </div>
    </div>
}
else
{
    <div style="height: 50vh; margin: 15px; position: relative;">
        <div class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</div>
    </div>
}

