@model ShopThoiTrang.Models.ChangePassModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@{
    Random r = new Random();
    var x = "";
    for (int i = 0; i < 5; i++)
    {
        x += r.Next(9);
    }

}
<div class="container justify-content-center col-6 main-change">
    <div class="header-change" style="margin:30px;">
        <h3 style="font-size:30px;font-weight:bold; padding-left:130px;">Thay đổi mật khẩu</h3>
    </div>
    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
    {
            
    <div class="form-group">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success">@ViewBag.Success</div>
        }
        @if (ViewBag.LoiMKCu != null)
        {
            <div class="alert alert-danger">@ViewBag.LoiMKCu</div>
        }
        @if (ViewBag.KetQua != null)
        {
            <div class="alert alert-success">@ViewBag.KetQua</div>
        }
    </div>
        <div class="form-changepass" style="margin-bottom:50px;">
            <table class="tb-change">
                <tr>
                    <td class="change-ip-left">Mật khẩu hiện tại:</td>
                    <td>
                        @Html.TextBoxFor(model => model.Password)
                    </td>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </tr>
                <tr>
                    <td class="change-ip-left">Mật khẩu mới:</td>
                    <td>
                        @Html.PasswordFor(model => model.NewPassword)
                    </td>
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

                </tr>
                <tr>
                    <td class="change-ip-left">Xác nhận mật khẩu:</td>
                    <td>
                        @Html.PasswordFor(model => model.ConfirmNewPassword)
                    </td>
                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                </tr>
                <tr>
                    <td class="change-ip-left">Mã kiểm tra:</td>
                    <td>
                        <span class="ma-kiem-tra">
                            @x
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="change-ip-left">Nhập mã kiểm tra:</td>
                    <td>
                        @Html.TextBoxFor(model => model.PrintCode)
                    </td>
                    @Html.ValidationMessageFor(model => model.PrintCode, "", new { @class = "text-danger" })
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" onclick="Changepass();" value="Cập nhật" class="btn btn-success" />
                        <button type="button" class="btn btn-secondary" id="next-nochange" onclick="void0();">Bỏ qua</button>
                    </td>
                </tr>
            </table>
        </div>
    }
</div>

