@model ShopThoiTrang.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="container bg">
    <section class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-5">
            <div class="form-container">
                @using (Html.BeginForm("Login", "User", FormMethod.Post))
                {
                    <h2 style="text-align: center;">Đăng nhập</h2>
                    <div>
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName)
                        @Html.TextBoxFor(model => model.UserName, new
                        {
                            @class = "form-control",
                            @autofocus = "autofocus"

                        })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                        @Html.PasswordFor(model => model.Password, new
                        {
                            @class = "form-control",
                        })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(model => model.RememberMe)
                        @Html.LabelFor(model => model.RememberMe)
                    </div>
                    <input type="submit" class="btn btn-primary" style="margin: 0 40%;" value="Đăng nhập">
                    <div class="form-group" style="margin-top:15px; text-align:center;">
                        <span>Bạn chưa có tài khoản? <a href="@Url.Action("Register")">&nbsp;Đăng ký tài khoản</a></span>
                    </div>
                }
            </div>
        </div>
    </section>
</section>


